*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffdb8d;
    overflow-x: hidden;
}

.outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 30%;
    background-color: #FFF5E0;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #141E46;
}
@media (max-width: 1100px){
    .outer{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
}
@media (max-height: 600px){
    .outer{
        background: transparent;
        box-shadow: none;
    }
}
h2{
    margin: 23px;
    padding-top: 19px;
    text-align: center;
    color: #141E46;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 3px double #FF6969;
}
form{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    top: 10%;

    transform: translateY(-10%);
}
label{
    display: block;
    margin: 30px 30px 0 30px;
}
select{
    margin: 5px 30px 30px 30px;
    display: block;
    width: 85%;
    padding: 10px 3px;
    border-radius: 8px;
    font-size: 1.3rem;
}


#category{
    margin-bottom: 80px;
}
.btn{
    position: absolute;
    background-color: #FF6969;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 8px;
    margin-top: 50px;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 6px #141E46;
    transition: all;
}
.btn:hover{
    transition-duration: 0.2s;
    background-color: #C70039;
    border: 1px solid #141E46;
    color: #FFF5E0;
    cursor: pointer;
}
/* Change the scrollbar's width, color, and radius */
::-webkit-scrollbar {
    width: 2px; /* Width of the scrollbar */
  }
  
  /* Change the thumb (the draggable part) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Color of the thumb */
    border-radius: 5px; /* Radius of the thumb */
  }
  
  /* Change the track (the non-draggable part) of the scrollbar */
  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the track */
  }
  
  /* Change the corners of the scrollbar */
  ::-webkit-scrollbar-corner {
    background-color: transparent; /* Color of the scrollbar corners */
  }
  